<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About</h2>
  <p>
    Pretty cool guy, some say he knows how to create the simplest Ember app known to man. In reality he may be able
    to create such a creation but he would prefer not to use ember to do so.
  <br/><br/>
    First class honours in first and second year.
  <br/><br/>
    Areas covered: Java, C, Python, Agile Processes, Distributed Systems, Object Oriented Programming, Threading, Operating Systems, Computer Architecture, Public Speaking, Human Computer Interaction, Data Structures and Algorithms, Mobile Devices, Bash Scripting, Mathematics, Networking Fundamentals, SQL, NoSQL.
  <br/><br/>
    Winners of the Best New Society 2019 for Programming Society.
  </p>
</div>

{{outlet}}