<div class="container">
  <div class="menu">
    {{#link-to "index"}}
      <h1>
        <em>Stephen O Driscoll</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "about" class="menu-about"}}
        About
      {{/link-to}}
      {{#link-to "service" class="menu-service"}}
        Services
      {{/link-to}}
       {{#link-to "caseStudy" class="menu-caseStudy"}}
        Case Study
      {{/link-to}}
      {{#link-to "contact" class="menu-contact"}}
        Contact
      {{/link-to}}
      {{#link-to "siteMap" class="menu-siteMap"}}
        Site Map
      {{/link-to}}
    </div>
  </div>
  <br/><br/>
  <div class="body">
    {{outlet}}
  </div>
    <div>
        <a class="social-media" href="https://www.facebook.com/CITProgramming/"><img src="https://i.ibb.co/0cjKt2t/facebook.png" width="50vx"/></a>
        <a class="social-media" href="https://twitter.com/CitSociety"><img src="https://i.ibb.co/D7kKFy3/twitter.png" width="50vw"/></a>
    </div>
</div>