<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Case Study</h2>
    <h3>Group Project</h3>
    <p>As part of my group project in year 3 I created this Android App; a clone of the Uber App:
    <br/>
    This app requires login or to set up an account. Once past the login screen you get a google maps screen with your current location and options. You can then request a car which tracks a route to your destination and processes payment. You can also view past trips and leave feedback.
    </p>
    <br/>
    <h3>Android App</h3>
    <p>
    The main android app code is in: <a href="https://github.com/Stephen-ODriscoll/2018_GroupProject">https://github.com/Stephen-ODriscoll/2018_GroupProject</a>
    </p>
    <br/>
    <h3>Arduino</h3>
    <p>
    The car tracking was simulated by using an arduino, the code for this can be found in the ArduinoConnection folder.
    </p>
    <br/>
    <h3>Using this App</h3>
    <p>
    This data was stored and accessed using Google Firebase but the Firebase project has since been disabled. If you wish to test this project change the API key in this file: 2018_GroupProject/app/src/debug/res/values/google_maps_api.xml. The API key you create will need to have access to the Google Directions API.
  </p>
  <br/><br/>
  <img src="https://i.ibb.co/xJZ7Wzd/android-tablet-mobile.png" alt="android-tablet-mobile" border="0">
</div>

{{outlet}}

{{outlet}}