<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact</h2>
  <p>
    Please don't contact me.<br/>
    But if there is some emergency involving this website that requires my attention here are my contact details:
  </p>
  <address>
    Cork Institute of Technology
    <p>
      Bishopstown<br>
      Cork
    </p>
    <a href="tel:012.345.6789">+1 (012) 345-6789</a><br>
    <a href="mailto:stephen.odriscoll3@mycit.ie">stephen.odriscoll3@mycit.ie</a>
  </address>
</div>

{{outlet}}