<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Site Map</h2>
  <ul class="site-map">
    <li>{{#link-to "index"}}Home{{/link-to}}</li>
    <ul class="sub-links">
        <li><a href="">Bookfair</a></li>
        <li><a href="">Reverse Auction</a></li>
        <li><a href="">Robot</a></li>
    </ul>
    <li>{{#link-to "about"}}About{{/link-to}}</li>
    <li>{{#link-to "service"}}Services{{/link-to}}</li>
    <li>{{#link-to "caseStudy"}}Case Study{{/link-to}}</li>
    <ul class="sub-links">
        <li><a href="https://github.com/Stephen-ODriscoll/2018_GroupProject">https://github.com/Stephen-ODriscoll/2018_GroupProject</a></li>
    </ul>
    <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
    <li>{{#link-to "siteMap"}}Site Map{{/link-to}}</li>
  </ul>
</div>

{{outlet}}